<mat-tab-group color="warn" mat-align-tabs="end">
  <mat-tab label="Calculation">
    <ng-template mat-tab-label>
      <mat-icon class="material-icons">calculate</mat-icon>
    </ng-template>
    <div class="calc">
      <mat-form-field class="example-form-field">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text" [(ngModel)]="value" />
        <button
          mat-button
          *ngIf="value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="value = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <section>
        <div class="example-label">Raised</div>
        <div class="example-button-row">
          <button mat-raised-button>Add Input</button>
        </div>
      </section>
    </div>
  </mat-tab>

  <mat-tab label="History">
    <ng-template mat-tab-label>
      <mat-icon class="material-icons">history</mat-icon>
    </ng-template>
    <app-history></app-history>
  </mat-tab>
</mat-tab-group>
<mat-tab> </mat-tab>
